
.bitter-<uniquifier> {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}
.rubik-storm-<uniquifier> {
  font-family: "Rubik Storm", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* CSS Document */
.html body,
{    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;}
body  {
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 20px;
    flex-grow: 1;
   background-color: black;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik Storm', sans-serif;
    font-size: 14px;
    flex-direction: row;
    content:space-between;
    
}
nav button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #c5cae9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-color: rgb(133, 95, 45);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c5cae9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

} 
.text-regular {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    
}
section {
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
}
.card1 {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
   width: 300px;
   flex-direction: ;
    
}
.card2 {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    flex-direction: row;
}
